<form class="form" [formGroup]="formOrder">
  <div class="total">
    <div class="icon">
      <img src="https://i.imgur.com/e9SU4p8.png" />
    </div>
    <h2>Finalizar pedido.</h2>
    <div id="inputs" class="p-field" *ngFor="let value of keys">
      <span class="ui-float-label">
        <input
          id="float-input"
          type="text"
          size="30"
          pInputText
          [formControlName]="value"
          [id]="value"
        />
        <label
          for="float-input"
          for="fieldId"
          class="form-label"
          [for]="value.id"
          >{{ value }}</label
        ><br>
      </span>
    </div><br>
    <div class="botoes">
      <button class="btn btn-primary" (click)="clickOnSubmit()" type="text">
        Pedir
      </button><br><br>
      <button class="btn btn-primary" type="reset">Limpar</button>
    </div>
  </div>
</form>
